<div class="box" ng-class="['box-' + $ctrl.type, { 'box-solid': $ctrl.solid, 'collapsed-box': $ctrl.collapsed }]" lte-collapse="$ctrl.removed">
    <div class="box-header" ng-class="{ 'with-border': !$ctrl.skipHeaderBorder }">
        <h3 class="box-title" lte-box-header-container>{{ $ctrl.header }}</h3>
        <div class="box-tools pull-right">
            <span lte-box-toolbar-container ng-if="$ctrl.toolbarElement"></span>
            <button type="button" class="btn btn-box-tool" ng-if="$ctrl.collapsable" ng-click="$ctrl.toggleCollapsed();">
                <i class="fa" ng-class="{ 'fa-plus': $ctrl.collapsed, 'fa-minus': !$ctrl.collapsed }"></i>
            </button>
            <button type="button" class="btn btn-box-tool" ng-if="$ctrl.removable" ng-click="$ctrl.remove();">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body" ng-class="{ 'no-padding': $ctrl.fullWidth }" ng-transclude lte-collapse="$ctrl.collapsed">
    </div>
    <div class="box-footer" lte-box-footer-container lte-collapse="$ctrl.collapsed" ng-if="$ctrl.footerElement">
    </div>
    <div class="overlay" ng-if="$ctrl.loading">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>